@function colors($color, $type:base) {
  $colors: (
    color: (
      base: #55d9ff,
      second: #ff8e88,
      third: #8841e8,
      four: #48e841,
      five: #ffdf48,
      text: #000000
    )
  );

  $returncolor: map-get($colors, $color);
  @return map-get($returncolor, $type);
}

@function csstorem ($px) {
  @return ($px / 16) + rem;
}
